/* styles.css */

.page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.logo-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.arrowbutton {
    margin-right: 10px;
    cursor: pointer;

}



.logo-image {
    margin: 0 auto; /* Center the image horizontally */
    width: 230px;
    height: 40px;
}




.gifContainer {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    margin-right: 20px; 
    margin-bottom: 20px; 
}

.gif-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.gifWrapper {
    margin-bottom: 10px;
}

.gifIframe {
    width: 100%;
    height: auto;
    border: none;
}

.gifInfo {
    text-align: center;
}

.gifTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.favoriteButton {
    padding: 5px 10px;
    background: #4285f4;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}



.noDataMessage {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: black; /* Adjust the color as needed */
    padding-top: 300px;
  }
  
  .noDataMessage a {
    display: block;
    margin-top: 10px;
    color: #4285f4; /* Link color */
    text-decoration: none;
    font-weight: bold;
  }
  
  .noDataMessage a:hover {
    text-decoration: underline;
  }