.header {
  background-color: #e8e1e1;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 230px;
  height: 40px;
  overflow: hidden;
  object-fit: cover
}


.header Image {
  object-fit: cover;
  /* border-radius: 50%; */
  margin-right: 20px;
}

/* styles.css */

.custom-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin: 10px 0;
}


/* styles.css */

.logout {
  cursor: pointer;
  background-color: black;
  /* Change to your preferred background color */
  color: #ffffff;
  /* Change to your preferred text color */
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout:hover {
  background-color: #cc0000;
  /* Change to a darker shade on hover */
}